@using blog.Models.ViewModels.Author
@model EditBlogPostViewModel

@{
  Layout = "_Layout";
}

<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Edit Post</h3></div>
            <div class="panel-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-action="EditPost" method="post">
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Title">Title:</label>
                        <input class="form-control" asp-for="Title" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description:</label>
                        <input class="form-control" asp-for="Description" />
                    </div>
                    <br />
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#ContentEditorTab" aria-controls="home" role="tab" data-toggle="tab">Markdown</a></li>
                            <li role="presentation"><a href="#PreviewTab" aria-controls="profile" role="tab" data-toggle="tab">Preview</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="ContentEditorTab">
                                <div class="form-group">
                                    <textarea class="form-control" style="height:600px" asp-for="Content"></textarea>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="PreviewTab">
                                <br />
                                <div id="PreviewTabInner">

                                </div>
                                <br />
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a asp-action="ManagePosts" class="btn btn-danger">Cancel</a>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/simplemde/dist/simplemde.min.js"></script>

<script type="text/javascript">
   // var simplemde = new SimpleMDE();


</script>

