@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  ViewData["Title"] = "Features";
  Layout = "_Layout";
}
@using Bagombo.Models.ViewModels.Home
@model ViewFeaturesViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Features</h3>
            <hr />
        </div>
    </div>
    @foreach (var feature in Model.Features)
    {
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h3>
                          @feature.Title
                      </h3>
                      <hr />
                      <h5>
                          @feature.Description
                      </h5>
                      <br />
                      <a class="btn btn-primary" asp-action="FeaturePosts" asp-route-id="@feature.Id">See Posts... <span class="badge">@feature.BlogCount</span></a>
                  </div>
              </div>
          </div>
      </div>

    }
</div>

