
@using blog.Models.ViewModels.BlogPostView
@model BlogPostViewModel
@{
  Layout = "_Layout";
}

<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <p>
            <h2>@Model.Title</h2>
        </p>

        <p>
            <h4>by: @Model.Author</h4>
        </p>
        <p>
            @Html.Raw(Model.Content)
        </p>
    </div>
</div>