
@{ 
    Layout = "_Layout";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Welcome to Bagombo</h1>
                <p>Bagombo is an in-progress open-source MIT licensed blogging application based upon ASP.NET Core MVC and Entity Framework Core.</p>
                <p>It is designed to work on any platform where .NET Core will run on, and can be customized to work with any database which supports Entity Framework Core.</p>
                <p>
                    This is the first instance of it in the wild, which hosts a blog on designing and running Bagombo, as well as other topics, such as:
                    <blockquote>
                        <ul>
                            <li>C#</li>
                            <li>ASP.NET Core</li>
                            <li>Algorithms </li>
                            <li>JavaScript</li>
                            <li>Node.js and Express</li>
                            <li>Book Reviews</li>
                        </ul>
                    </blockquote>
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" asp-controller="home" asp-action="blogpost" asp-route-id="45" role="button">See the Roadmap...</a>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Download</a>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more...</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>About Bagombo</h3>
            <hr />
            <ul class="nostyle">
                <li><a href="#">What should go on the homepage?</a></li>
                <li><a href="#">Designing the Data Layer...</a></li>
                <li><a href="#">Why build Bagombo</a></li>
                <li><a href="#">Lessons learned and learning</a></li>
                <li><a href="#">Determining requirements...</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>New Feature Articles</h3>
            <hr />
            <ul class="nostyle">
                <li><a href="#">Running ASP.NET Core locally from source</a></li>
                <li><a href="#">A first website with ASP.NET Core and Kestrel</a></li>
                <li><a href="#">Kestrel vs WebListener (HTTPSysServer)</a></li>
                <li><a href="#">Starting Out with Entity Framework Core</a></li>
                <li><a href="#">How ASP.NET handles an HTTP Request</a></li>
                <li><a href="#">The Startup Class in ASP.NET Core</a></li>
                <li><a href="#">Starting with ASP.NET Identity</a></li>
                <li><a href="#">Simple Data Structures in C#</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>3rd Party Resources</h3>
            <hr />
            <ul class="nostyle">
                <li><a href="#">ASP.NET Core Documentation</a></li>
                <li><a href="#">ASP.NET Github</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">jQuery</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Author Pages</h3>
            <hr />
            <ul class="nostyle">
                <li><a href="#">Tyler Rhodes</a></li>
            </ul>
        </div>
    </div>

</div>