
@{
  ViewData["Title"] = "Bagombo Home";
  Layout = "_Layout";
}
@using blog.Models.ViewModels.Home
@model ViewHomeViewModel


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Welcome to Bagombo</h1>
                <p>Bagombo is an in-progress open-source MIT licensed blogging application based upon ASP.NET Core MVC and Entity Framework Core.</p>
                <p>It is designed to work on any platform where .NET Core will run on, and can be customized to work with any database which supports Entity Framework Core.</p>
                <p>
                    This is the first instance of it in the wild, which hosts a blog on designing and running Bagombo, as well as other topics, such as:
                    <blockquote>
                        <ul>
                            <li>C#</li>
                            <li>ASP.NET Core</li>
                            <li>Algorithms </li>
                            <li>JavaScript</li>
                            <li>Node.js and Express</li>
                            <li>Book Reviews</li>
                        </ul>
                    </blockquote>
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" asp-controller="home" asp-action="blogpost" asp-route-id="5" role="button">See the Roadmap...</a>
                    <a class="btn btn-primary btn-lg" asp-controller="home" asp-action="blogpost" asp-route-id="17" role="button">What will be on the Bagombo site?</a>
                    <a class="btn btn-primary btn-lg" href="https://github.com/tylerlrhodes/bagombo" role="button">Download</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <h3>Using Bagombo</h3>
            <hr />
            <ul class="nostyle">
                <li><a href="#">Requirements</a></li>
                <li><a href="#">How to install Bagombo</a></li>
                <li><a href="#">How to customize the home page</a></li>
                <li><a href="#">Best practices</a></li>
                <li><a href="#">Where to file issues and requests</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3">
            <h3>Recent Posts</h3>
            <hr />
            <ul class="nostyle">
                @foreach (var p in Model.RecentPosts)
                {
                  <li><a asp-action="BlogPost" asp-route-id="@p.Id">@p.Title</a></li>
                }
            </ul>
        </div>
        <div class="col-sm-6 col-md-3">
            <h3>3rd Party Resources</h3>
            <hr />
            <ul class="nostyle">
                <li><a href="https://daringfireball.net/projects/markdown/syntax">Daring Fireball's Markdown Reference</a></li>
                <li><a href="https://www.npmjs.com/package/markdown-pdf">For 0.3 -- Markdown to PDF</a></li>
                <li><a href="#">ASP.NET Core Documentation</a></li>
                <li><a href="#">ASP.NET Github</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">jQuery</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3">
            <h3>Author Pages</h3>
            <hr />
            <ul class="nostyle">
                <li><a href="#">Tyler Rhodes</a></li>
            </ul>
        </div>
    </div>

</div>