
@{
  ViewData["Title"] = "Edit Topic";
  Layout = "_Layout";
}
@using Bagombo.Models.ViewModels.Admin
@model TopicViewModel

<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="card">
            <div class="card-header">Edit Topic:</div>
            <div class="card-body p-3">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-action="EditTopic" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label class="checkbox-inline">
                        <input asp-for="ShowOnHomePage"> Show On Home Page?
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-action="ManageTopics" class="btn btn-default">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
