@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  @model blog.Models.BlogPost
  Layout = "_Layout";
}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <label for="title">Title:</label><input class="form-control" type="text" id="title" value="@Model.Title" />
            </div>
            <div class="form-group">
                <label for="category">Category</label><input type="text" class="form-control" list="categories" id="category" value="" />
                <datalist id="categories">
                    <option label="C#" value="C#"></option>
                </datalist>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Update</button>
            </div>
        </div>
        <br />
        <div class="form-group">
            <textarea style="width:500px; height:1000px">@Model.Content</textarea>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/simplemde/dist/simplemde.min.js"></script>

<script type="text/javascript">
    var simplemde = new SimpleMDE();

    $("button").click(function () {
        var blogText = simplemde.value();
        var blogTitle = $("#title").val();
        var data = {
            Id: @Model.Id,
            Title: blogTitle,
            Content: blogText
        };
        $.ajax({
            type: 'POST',
            url: '/api/blog/editpost',
            data: data,
            success: function (result) {
                alert("Saved: " + result.content + "\n" + result.authorId);
            }

        })
    })
</script>

