
@using blog.Models.ViewModels.Account
@using Microsoft.AspNetCore.Identity
@using blog.Models
@inject SignInManager<ApplicationUser> SignInManager

@model AccountLoginViewModel

@{
  ViewData["Title"] = "Login";
  Layout = "_Layout";
}

<div class="container-fluid">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">Login:</div>
            <div class="panel-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form method="post" asp-action="login" asp-controller="Account">
                    <input type="hidden" name="returnUrl" value="@ViewData["returnUrl"]" />
                    <div class="form-group">
                        <label for="Email">Email:</label>
                        <input class="form-control" asp-for="Email" />
                    </div>
                    <div class="form-group">
                        <label for="Password">Password:</label>
                        <input type="password" class="form-control" asp-for="Password" />
                    </div>
                    <div class="radio form-group">
                        <input asp-for="RememberMe" /><label asp-for="RememberMe">Remember Me</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    @{
                      var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                      foreach (var p in loginProviders)
                      {
                          if (p.DisplayName == "Twitter")
                          {
                            <a class="btn btn-default" asp-action="TwitterLogin" asp-route-returnUrl="@ViewData["returnUrl"]"><img src="~/images/twitter-button.png" /></a>
                          }
                          else if (p.DisplayName == "Facebook")
                          {
                            <a class="btn btn-default" asp-action="FacebookLogin" asp-route-returnUrl="@ViewData["returnUrl"]">Login with Facebook</a>
                          }
                      }
                    }
                </form>
            </div>
        </div>
    </div>
</div>